<nav class="max-md:hidden flex justify-between mx-16 my-10 items-center">
  <a href="/">
    <div class="flex items-center gap-2">
      <img class="w-10" src="assets/logo.png" />
      <h2
        style="font-family: 'Montserrat', serif"
        class="text-2xl text-customBlue mt-1"
      >
        VOTESPHERE
      </h2>
    </div>
  </a>

  <div class="flex items-center gap-12">
    <a class="font-medium" href="/" id="nav-home"> HOME </a>
    <a class="font-medium" href="/about" id="nav-about"> ABOUT </a>
    <a
      class="font-medium bg-blue-700 text-white px-8 py-1 rounded-lg"
      href="/auth/login"
      id="nav-login"
    >
      LOGIN
    </a>
  </div>
</nav>
