<nav class="max-md:hidden flex justify-between mx-32 my-10 items-center">
  <a href="/polls">
    <div class="flex items-center gap-2">
      <img class="w-10" src="../../assets/logo.png" />
      <h2
        style="font-family: 'Montserrat', serif"
        class="text-2xl text-customBlue mt-1"
      >
        VOTESPHERE
      </h2>
    </div>
  </a>

  <div class="flex items-center gap-5 mt-4">
    <a
      class="text-gray-50 hover:text-yellow-500 flex gap-1 items-center flex-col max-w-content"
      href="/groups/members"
      th:if="${hasGroup}"
      id="nav-about"
    >
      <img class="w-7" src="../../assets/group.png" alt="" />
      <div class="text-sm">Group</div>
    </a>
    <div
      onclick="fetch('/auth/logout', {method: 'DELETE', credentials: 'include'}).then(() => window.location.href = '/auth/login')"
      class="text-gray-50 hover:text-red-500 flex gap-1 items-center flex-col max-w-content cursor-pointer"
    >
      <img class="w-7" src="../../assets/logout.png" alt="" />
      <div class="text-sm">Logout</div>
    </div>
  </div>
</nav>
