<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/logged_head :: head"></head>
  <body>
    <nav th:replace="fragments/nav :: nav"></nav>
    <div class="mt-20 mx-4 md:mx-16 mb-20">
      <div
        class="border boder-gray-200 rounded-lg max-w-3xl mx-auto px-4 md:px-11 py-8 mt-14"
      >
        <form>
          <h2 class="text-2xl font-bold text-center mb-8">
            Add Poll Information
          </h2>

          <div class="flex flex-col gap-1 mb-8">
            <label>Question</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="question"
            />
            <p class="question-error text-sm text-red-600"></p>
          </div>

          <div class="flex flex-col gap-1 mb-2">
            <label>Choice 1</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="choice1"
            />
            <p class="choice1-error text-sm text-red-600"></p>
          </div>

          <div class="flex flex-col gap-1 mb-2">
            <label>Choice 2</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="choice2"
            />
            <p class="choice2-error text-sm text-red-600"></p>
          </div>

          <div class="flex flex-col gap-1 mb-2">
            <label>Choice 3</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="choice3"
            />
            <p class="choice3-error text-sm text-red-600"></p>
          </div>
          <div class="flex flex-col gap-1 mb-2">
            <label>Choice 4</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="choice4"
            />
            <p class="choice4-error text-sm text-red-600"></p>
          </div>
          <div class="flex flex-col gap-1 mb-2">
            <label>Choice 5</label>
            <input
              class="border border-gray-300 py-1 px-2 focus:outline-none"
              type="text"
              name="choice5"
            />
            <p class="choice5-error text-sm text-red-600"></p>
          </div>

          <button
            class="font-medium bg-blue-600 text-white px-28 py-2 block mt-8 mx-auto"
          >
            AddPoll
          </button>
        </form>
      </div>
    </div>

    <script>
      const pollForm = document.querySelector('form');
      const questionError = document.querySelector('.question-error');
      const choice5Error = document.querySelector('.choice5-error');

      pollForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        questionError.textContent = '';
        choice5Error.textContent = '';
        const formData = new FormData(pollForm);
        const question = formData.get('question');
        const choice1 = formData.get('choice1');
        const choice2 = formData.get('choice2');
        const choice3 = formData.get('choice3');
        const choice4 = formData.get('choice4');
        const choice5 = formData.get('choice5');

        const response = await fetch('/polls', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({
            question,
            choices: [choice1, choice2, choice3, choice4, choice5],
          }),
        });

        const data = await response.json();

        if (response.status == 400) {
          if (data['question']) {
            questionError.textContent = data['question'];
          }

          if (data['choices']) {
            choice5Error.textContent = data['choices'];
          }
        }

        if (response.status == 201) {
          window.location.href = '/polls';
        }
        console.log(data);
      });
    </script>
  </body>
</html>
