<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/logged_head :: head"></head>
  <body class="bg-gray-50 min-h-screen">
    <nav th:replace="fragments/nav :: nav"></nav>
    <div class="container max-w-4xl mx-auto px-4 py-8">
      <div class="flex justify-between items-center mb-6">
        <h1
          th:text="${groupName + ' Members'}"
          class="text-3xl font-semibold text-gray-800"
        ></h1>

        <a
          class="text-gray-50 hover:text-blue-500 flex gap-1 items-center flex-col max-w-content"
          href="/groups/members/add"
          th:if="${isAdmin}"
          id="nav-about"
        >
          <img class="w-7" src="../../assets/add.png" alt="" />
          <div class="text-sm">Add Member</div>
        </a>
      </div>

      <ul class="space-y-2">
        <li
          th:each="member : ${members}"
          class="bg-white rounded-lg shadow p-6 flex justify-between items-center"
        >
          <div class="flex items-center gap-4 mb-4">
            <span
              th:text="${member.id}"
              class="text-sm font-medium text-gray-500 bg-gray-100 px-3 py-1 rounded-full"
            ></span>
            <h2
              th:text="${member.username}"
              class="text-xl font-semibold text-gray-800"
            ></h2>
          </div>
          <a
            th:href="@{/groups/members/{id}(id=${member.id})}"
            th:if="${isAdmin} and ${currentUser != member.id}"
            onclick="return confirm('Are you sure you want to remove this user?');"
            class="text-red-500"
          >
            Delete
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
