<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/logged_head :: head"></head>

  <body>
    <nav th:replace="fragments/nav :: nav"></nav>
    <a class="ml-8 text-blue-500" href="/polls/add">Add Poll</a>
    <ul class="ml-8">
      <li th:each="poll : ${polls}">
        <div class="flex gap-2">
          <h2 th:text="${poll.id}"></h2>
          <h1 th:text="${poll.question}"></h1>
        </div>

        <div
          class="flex flex-col gap-2 ml-6"
          th:each="choice : ${poll.choices}"
        >
          <h2 th:text="${choice}"></h2>
        </div>
      </li>
    </ul>
  </body>
</html>
