<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav th:replace="fragments/nav :: nav"></nav>
    <div class="flex items-center justify-center p-12 bg-gray-50">
      <div class="bg-white p-12 rounded-lg shadow-lg w-2/3">
        <div class="flex items-center mb-12">
          <img
            src="assets\profile.png"
            alt="Profile"
            class="w-32 h-32 rounded-full border-4 border-gray-300"
          />
          <div class="ml-8">
            <h2 class="text-3xl font-semibold text-gray-700">My Profile</h2>
            <div class="flex gap-2 mt-4">
              <p
                class="mt-4 px-6 py-3 bg-blue-100 text-blue-600 rounded-lg text-lg"
              >
                Name:
              </p>
              <p
                th:text="${name}"
                class="mt-4 px-6 py-3 bg-blue-100 text-blue-600 rounded-lg text-lg"
              ></p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-8 text-lg">
          <div>
            <label class="block text-gray-600 font-medium">Email</label>
            <p th:text="${email}" class="mt-2 bg-gray-100 p-4 rounded-md"></p>
          </div>

          <div>
            <label class="block text-gray-600 font-medium">Group Name</label>
            <p
              th:if="${group != null}"
              th:text="${group}"
              class="mt-2 bg-gray-100 p-4 rounded-md"
            ></p>

            <p th:if="${group == null}" class="mt-2 bg-gray-100 p-4 rounded-md">
              No Group
            </p>
          </div>

          <div>
            <label class="block text-gray-600 font-medium"
              >Number Of Polls</label
            >
            <p th:text="${polls}" class="mt-2 bg-gray-100 p-4 rounded-md"></p>
          </div>

          <div>
            <label class="block text-gray-600 font-medium">Role</label>
            <p th:if="${isAdmin}" class="mt-2 bg-gray-100 p-4 rounded-md">
              Admin
            </p>
            <p th:if="${!isAdmin}" class="mt-2 bg-gray-100 p-4 rounded-md">
              Member
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
